In [1]:
from pyspark.sql import SparkSession

# SparkSession 생성
spark = SparkSession.builder.appName("Postgres Integration").getOrCreate()

# PostgreSQL 연결 정보
jdbc_url = "jdbc:postgresql://postgres:5432/spark"
connection_properties = {
  "user": "spark",
  "password": "spark",
  "driver": "org.postgresql.Driver"
}

# PostgreSQL에서 데이터 읽기
df = spark.read.jdbc(url=jdbc_url, table="test_table", properties=connection_properties)

# 데이터프레임 출력
df.show()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/25 12:33:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 30|
|  2|  Bob| 25|
+---+-----+---+

In [3]:
# 'id' 컬럼 제거
df_without_id = df.drop("id")

# PostgreSQL 데이터베이스에 데이터 쓰기
df_without_id.write.jdbc(url=jdbc_url, table="test_table", mode="append", properties=connection_properties)

In [4]:
df.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 30|
|  2|  Bob| 25|
|  3|Alice| 30|
|  4|  Bob| 25|
+---+-----+---+